.wizard-root ul.nav {
    margin-bottom: 10px;
}

.wizard-root ul.nav > li {
    margin-bottom: 10px
}

.wizard-root .pager .previous {
    margin-right: 10px;
}

.wizard-root .nav-pills a, .wizard-root .nav-pills a:hover, .wizard-root .nav-pills a:focus {
    background-color: #9dc8e2;
    color: #fff;
    margin-right: 10px;
}

.wizard-root .wizard-group-title {
	color: #2184be;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 10px;
}

.wizard-root .wizard-group-title-border {
	margin-top: 0;
	margin-bottom: 25px;
	border-top: 1px solid #2184be;
}

.wizard-root .title {
	color: #2184be;
	border-bottom: 1px solid #2184be;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 15px;
	padding-bottom: 10px;
	font-size: 16px;
}

.wizard-root .img-survey {
	width: 100%;
}

.wizard-root .pager {
	margin-top: 0;
	margin-bottom: 7px;
}

.wizard-root .pager li a {
	background-color: #2184be;
	color: #fff;
	border: 0;
	border-radius: 5px;
}

.wizard-root .pager li.disabled a {
	background-color: #fff;
	color: #777;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.navbar-survey {
	background: url(/i4survey/static/src/images/bg_header.png) no-repeat right top #0e76bc;
	min-height: 100px;
	color: #fff;
	border-radius: 0;
	width: 100%;
}

.navbar-survey .navbar-brand {
	padding-top: 7px;
}

.navbar-survey .navbar-text {
	font-family: arial;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
}

.navbar-survey .navbar-text span {
	font-weight: normal;
    font-size: 18px;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-7 {
	margin-bottom: 7px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.form-survey .control-label {
	margin-bottom: 7px;
}

.form-survey .control-label.required::after {
	content: ' *';
	color: red;
}

.group .group-number {
	background-color: #2184be;
	border-radius: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 2em;
	height: 40px;
	width: 40px;
	text-align: center;
}

.group .group-title {
	font-family: Courier;
    color: Blue;
    font-size: 16px;
}

.group .group-description {
	margin-top: 7px;
    font-size: 13px;
    color: #777;
    text-transform: initial;
    font-style: italic;
}

#wrapwrap > * {
    display: block;
}

#wrapwrap > main {
    height: auto;
}

#navigation {
	background-color: #e2e2e2;
    top: -20px;
    min-height: 60px;
}

.collapse {
	display: block !important;
	padding-right: 20px;
	font-style: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: inherit;
}
.navbar-nav {
	padding-top: 5px;
}

.navbar-nav > li{
	float: left;
}

.navbar-nav > li > a{
	float: right;
	padding-bottom: 15px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	color: #777;
}

.hearder-home { 
	min-height: 100%;
	position: relative;
	width: 100%;
	text-align: center;
	color: #fff;
	height: 768px;
	background-image: url(/i4survey/static/src/images/header.jpg);
	background-position: center;
	background-size: cover;
	background-color: #075fb6;
	border-bottom: 1px solid #ccc;
}

.hearder-home .header-content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.hearder-home .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

.header-content-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.header-content-inner hr {
	max-width: 50px;
}

.bg-primary {
    background-color: #337ab7;
    color: #fff;
}



.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.table-bordered {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.table, .table th, .table tr, .table td {
    border: 1px solid #ccc;
}
.table {
    border-collapse: collapse;
    width: 100%;
}

table th {
	background-color: #e7e7e7;
    width: 11%;
}

section {
	padding: 100px 0;
}

.contentL{
	margin-top: -20px;
	padding-left: 0px;
	padding-right: 0px;
}


.navbar-default{
	border-bottom: solid 1px #fff;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover{color: #fff; text-transform: uppercase;font-size: 24px;text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);}
.navbar-default .navbar-nav > li > a{color: #777;text-transform: uppercase;    font-size: 15px;}
.navbar-default .navbar-nav > li > a:hover{color: #0e76bc}
.MR5{margin-right: 5px;}
.MR10{margin-right: 10px;}
.navbar-default .navbar-nav > li > a:hover{color: #0e76bc;}
.MB0{margin-bottom: 0;}

.c_disable{
	pointer-events: none;
    cursor: not-allowed;
}


